<div class="box">
<h2>It smells like a barnyard in here...</h2>
<h3>This {{barnyard.breeds.breed.$t}}'s name is: {{barnyard.name.$t}}</h3>
</div>
<div class="row">
    <div class="col-md-4 box">
        <p><span>Age:</span> {{barnyard.age.$t}}</p>
        <p><span>Mixed?:</span> {{barnyard.mix.$t}}</p>
        <p><span>Gender:</span> {{barnyard.sex.$t}}</p>
        <p><span>Size:</span> {{barnyard.size.$t}}</p>
        <p><span>Contact Number:</span> {{barnyard.contact.phone.$t}}</p>
    </div>
    <div class="col-md-4">
        <div><img ng-src="{{barnyard.media.photos.photo[2].$t}}" /></div>
    </div>
    <div class="col-md-3 box">
        <p><span>About Me:</span> {{barnyard.description.$t}}</p>
    </div>
    <div class="col-md-1"></div>
</div>
